<%= form_with url: sessions_path, method: :post, html: {id: 'user-form'} do |f| %>

  <div class="form-group">
    <%= f.label :handle_id, t('activerecord.attributes.user.handle_id') %>
    <%= f.text_field :handle_id, autofocus: true %>
    <%= display_error(:handle_id) %>
  </div>

  <div class="form-group">
    <%= f.label :password, t('activerecord.attributes.user.password') %>
    <%= f.text_field :password %>
    <%= display_error(:password) %>
  </div>

  <div class="submit-button">
    <%= f.submit 'Login' %>
  </div>

<% end %>
