<!DOCTYPE html>
<html>
  <head>
    <title>TestRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name == 'notice' ? 'success' : 'danger' %> alert-notice">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>
  </body>
</html>
